[mysqld]
innodb_buffer_pool_size = 32M   # 降低 InnoDB buffer pool 大小
innodb_log_buffer_size = 8M     # 设置较小的日志缓冲区大小
max_connections = 50            # 限制最大连接数
tmp_table_size = 32M            # 限制临时表大小
max_heap_table_size = 32M       # 限制内存表的最大大小
open_files_limit = 1024         # 限制最大打开文件数

